body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.calendar-slider-left {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 25px;
  height: 100%;
}
.calendar-slider-right {
  position: absolute;
  right: 0%;
  top: 0%;
  width: 25px;
  height: 100%;
}

.active {
  background-color: blue;
  color: white;
  border-radius: 10%;
}
.actual-date {
  border-bottom: 1px solid blue;
  /* border-radius: 50%; */
}

.slick-slide {
  display: inline-block;
}
